@charset "UTF-8";

/** 見出し左枠線 */
.og_headline-left-border {
	border-left:solid 5px;
	border-left-color : #0d6efd;
	background-color: white;
}

.og_headline-left-top-border {
	border-left:solid 5px;
	border-left-color : #0d6efd;
	border-bottom:solid 1px;
	border-bottom-color : #0d6efd;
	background-color: white;
}

/** 見出し左枠線 アクティブ */
.og_headline-left-border-active {
	border-left:solid 5px;
	border-left-color : #0dcaf0;
	background-color: rgba(13, 202, 240, 0.1);
}

/** 選択中下線 */
.og_underline-bottom-border {
	border-bottom:solid 2px;
	border-bottom-color : #0dcaf0;
	background-color: white;
}

/** 折り畳み Up */
.parent-nav:after{
	content:"\F147";
	font-family:FontAwesome;
}
/** 折り畳み Down */
.parent-nav.collapsed:after{
	content:"\F196";
	font-family:FontAwesome;
}

/** 文字省略 */
.dd {
	overflow: hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    word-wrap: break-all;
    line-height:20px;
}

/** テーブルのドラッグ クラス */
.reorder_rows_onDragClass td {
    background-color: #eee;
    -webkit-box-shadow: 11px 5px 12px 2px #333, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -webkit-box-shadow: 6px 3px 5px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -moz-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
}

.reorder_rows_onDragClass td:last-child {
    -webkit-box-shadow: 8px 7px 12px 0 #333, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -webkit-box-shadow: 1px 8px 6px -4px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -moz-box-shadow: 0 9px 4px -4px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset, -1px 0 0 #ccc inset;
    -box-shadow: 0 9px 4px -4px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset, -1px 0 0 #ccc inset;
}

.title{
	font-size:14px;
}

.subTitle{
	font-size:12px;
}

.summaryCont{
	font-size:11px;
}

@media print,screen and (min-width: 768px) {
			     .container-800 {
			        width:800px;
			    }
				.for-pc { display:block; }
				.for-sp { display:none; }
				.padding-none{
					/* PCバージョンの場合、無効 */
				}
				.qustionImgRange{
					width:600px;
					height:380px;
					background: #FFFFFF;
				}
			}
			
@media screen and (max-width: 767px) {
			     .container-800{
			        width:100%;
			    }
				.for-pc { display:none; }
				.for-sp { display:block; }
				.padding-none{
					padding-left:0;
					padding-right:0;
				}
				.qustionImgRange{
					width:100%;
					height:auto;
					background: #FFFFFF;
				}
			}

/* 縦横比 */
.aspect-ratio-10{
	--bs-aspect-ratio: 10%;
}

.aspect-ratio-20{
	--bs-aspect-ratio: 20%;
}

.aspect-ratio-30{
	--bs-aspect-ratio: 30%;
}

.aspect-ratio-40{
	--bs-aspect-ratio: 40%;
}

.aspect-ratio-50{
	--bs-aspect-ratio: 50%;
}

.aspect-ratio-60{
	--bs-aspect-ratio: 60%;
}

.aspect-ratio-70{
	--bs-aspect-ratio: 70%;
}

.aspect-ratio-80{
	--bs-aspect-ratio: 80%;
}

.aspect-ratio-90{
	--bs-aspect-ratio: 90%;
}

.aspect-ratio-100{
	--bs-aspect-ratio: 100%;
}