@charset "UTF-8";

/** 見出し左枠線 */
.og_headline-left-border {
	border-left:solid 5px;
	border-left-color : #0d6efd;
	background-color: white;
}

.og_headline-left-top-border {
	border-left:solid 5px;
	border-left-color : #0d6efd;
	border-bottom:solid 1px;
	border-bottom-color : #0d6efd;
	background-color: white;
}

/** 見出し左枠線 アクティブ */
.og_headline-left-border-active {
	border-left:solid 5px;
	border-left-color : #0dcaf0;
	background-color: rgba(13, 202, 240, 0.1);
}

/** 選択中下線 */
.og_underline-bottom-border {
	border-bottom:solid 2px;
	border-bottom-color : #0dcaf0;
	background-color: white;
}

/** 折り畳み Up */
.parent-nav:after{
	content:"\F147";
	font-family:FontAwesome;
}
/** 折り畳み Down */
.parent-nav.collapsed:after{
	content:"\F196";
	font-family:FontAwesome;
}

/** 文字省略 */
.dd {
	overflow: hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}

/** テーブルのドラッグ クラス */
.reorder_rows_onDragClass td {
    background-color: #eee;
    -webkit-box-shadow: 11px 5px 12px 2px #333, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -webkit-box-shadow: 6px 3px 5px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -moz-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
}

.reorder_rows_onDragClass td:last-child {
    -webkit-box-shadow: 8px 7px 12px 0 #333, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -webkit-box-shadow: 1px 8px 6px -4px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    -moz-box-shadow: 0 9px 4px -4px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset, -1px 0 0 #ccc inset;
    -box-shadow: 0 9px 4px -4px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset, -1px 0 0 #ccc inset;
}
