<html xmlns:th="http://www.thymeleaf.org">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
    	<link th:href="@{/libs/bootstrap-custom/bootstrap.min.css}" rel="stylesheet">
    	<!-- Bootstrap ICON CSS -->
    	<link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">

		<!-- jQuery読み込み -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- Popper.js -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

		<!-- Bootstrap JS -->
		<script th:src="@{/libs/bootstrap-5.0.2/js/bootstrap.bundle.min.js}"></script>

		<!-- Bootstrap tablednd JS -->
		<script th:src="@{/js/jquery.tablednd.js}"></script>
		<script th:src="@{/js/jquery.tablednd.min.js}"></script>
		
		<!-- Bootstrap-DatetimePicker -->
		<link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css}">
		<script type="text/javascript" th:src="@{/libs/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{/libs/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.ja.min.js}"></script>
		<script th:src="@{/js/datetimepicker.js}"></script>

		<!-- fontawesome -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
		<script src="https://kit.fontawesome.com/60dc7c24a4.js" crossorigin="anonymous"></script>

		<!-- オリジナル共通 CSS -->
    	<link th:href="@{/css/common.css}" rel="stylesheet">

		<!-- オリジナル共通 JS -->
		<script th:src="@{/js/common.js}"></script>

		<!-- テーブルソートJS -->
		<script th:src="@{/js/tablesorter.min.js}"></script>
		<!-- テーブルソートCSS -->
		<link rel="stylesheet" th:href="@{/css/tablesorter.css}"/>
		