<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/displaySwitching.js}"></script>
		<script th:src="@{/js/tableDataList.js}"></script>
		<title>診断質問リンクコンテンツ登録画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="d-flex justify-content-start mt-3 mb-2">
				<span class="h5" th:text="「高齢者健康調査」質問リンクコンテンツ登録"> 「高齢者健康調査」質問リンクコンテンツ登録</span>
			</div>

			<div class="card shadow-lg">
				<div class="card-body">
					<form action="/surveyContentDetail/questionLinkRegist/exec" method="post" th:object="${questionLinkUpdateForm}" id="submitFormId" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{surveyManagementId}">

						<div style="overflow-x: auto; width:100%;">
							<div class="row">
								<span class="h6">診断質問一覧</span>
							</div>
							
							<!-- 検索結果 -->
							<table class="table table-bordered table-hover mt-2 mb-4">
								<thead class="table-secondary">
									<tr>
										<th class="align-middle" style="white-space: nowrap;">
											順番
										</th>
										<th class="align-middle" style="white-space: nowrap;">
											質問
										</th>
										<th class="align-middle" style="white-space: nowrap;">
											回答
										</th>
										<th class="align-middle" style="white-space: nowrap;">
											リンク種別
										</th>
										<th class="align-middle" style="white-space: nowrap;">
											リンク先
										</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr th:each="question,stat: *{questionLst}"> -->
									<tr>
										<td class="align-middle text-center" style="white-space: nowrap;">
											<span th:text="質問１"></span>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<span th:text="普通に何KM走れるか？"></span>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li><span th:text="A：１KM"></span></li>
												<li><span th:text="B：２KM"></span></li>
												<li><span th:text="C：５KM"></span></li>
											</ul>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li>
													<span th:text="回答1"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
												<li>
													<span th:text="回答2"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
												<li>
													<span th:text="回答3"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
											</ul>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li>
													<span th:text="回答1"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="1">質問1</option>
														<option	value="2">質問2</option>
													</select>
												</li>
												<li>
													<span th:text="回答2"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="1">質問1</option>
														<option	value="2">質問2</option>
													</select>
												</li>
												<li>
													<span th:text="回答3"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="レベルA">評価結果レベルA</option>
														<option	value="レベルB">評価結果レベルB</option>
													</select>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td class="align-middle text-center" style="white-space: nowrap;">
											<span th:text="質問２"></span>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<span th:text="お酒好きですか？"></span>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li><span th:text="A：好きではない"></span></li>
												<li><span th:text="B：普通"></span></li>
												<li><span th:text="C：好き"></span></li>
											</ul>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li>
													<span th:text="回答1"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
												<li>
													<span th:text="回答2"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
												<li>
													<span th:text="回答3"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
											</ul>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li>
													<span th:text="回答1"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="1">質問1</option>
														<option	value="2">質問2</option>
													</select>
												</li>
												<li>
													<span th:text="回答2"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="1">質問1</option>
														<option	value="2">質問2</option>
													</select>
												</li>
												<li>
													<span th:text="回答3"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="レベルA">評価結果レベルA</option>
														<option	value="レベルB">評価結果レベルB</option>
													</select>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td class="align-middle text-center" style="white-space: nowrap;">
											<span th:text="質問３"></span>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<span th:text="店AとBがどっちにするか？"></span>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li><span th:text="A：店A"></span></li>
												<li><span th:text="B：店B"></span></li>
												<li><span th:text="C：どっちでも選べない"></span></li>
											</ul>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li>
													<span th:text="回答1"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
												<li>
													<span th:text="回答2"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
												<li>
													<span th:text="回答3"></span>
													<select class="form-control" name="linkType">
														<option value="">未選択</option>
														<option	value="1">質問へ</option>
														<option	value="2">結果へ</option>
													</select>
												</li>
											</ul>
										</td>
										<td class="align-middle text-left" style="white-space: nowrap;">
											<ul>
												<li>
													<span th:text="回答1"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="1">質問1</option>
														<option	value="2">質問2</option>
													</select>
												</li>
												<li>
													<span th:text="回答2"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="1">質問1</option>
														<option	value="2">質問2</option>
													</select>
												</li>
												<li>
													<span th:text="回答3"></span>
													<select class="form-control" name="linkTo">
														<option value="">未選択</option>
														<option	value="レベルA">評価結果レベルA</option>
														<option	value="レベルB">評価結果レベルB</option>
													</select>
												</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>