<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveyContentDetail.js}"></script>
		<script th:src="@{/js/surveyTagCreate.js?params=202405011722}"></script>
		<title>診断質問コンテンツ登録画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="d-flex justify-content-start mt-3 mb-2">
				<span class="h5" th:text="|「${survey.surveyName}」診断軸コンテンツ登録|"> 「高齢者健康調査」質問コンテンツ登録</span>
			</div>

			<div class="card shadow-lg">
				<div class="card-body">
					<form action="/surveyContentDetail/questionContentRegist/exec" method="post" th:object="${questionContentUpdateForm}" id="submitFormId" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{surveyManagementId}">
						<input type="hidden" th:field="*{questionOrderNo}">
						
						<div class="row">
							<span class="h6">質問内容</span>
						</div>
						<div class="row mb-2">
							<div class="col-8 ">
								<textarea rows="2" th:field="*{questionTitle}" class="form-control" maxlength="250" required></textarea>
							</div>
							<div class="col">
								<a class="btn btn-sm btn-success me-2" style="width:90px;" id="fontSizeTag">フォントサイズ</a>
							</div>
						</div>
						
						<div class="row">
							<span class="h6">質問画像</span>
						</div>
						<div class="row">
							<div class="col-4 mb-2">
								<input class="form-control" type="file" th:field="*{questionImgFile}" accept=".jpg,.jpeg,.png,.gif" >
							</div>
						</div>
								
						<!-- 回答コンテンツ -->
						<div class="row">
							<span class="h6">回答コンテンツ</span>
						</div>
						
						<div class="questionContent mb-2 ms-2 container" style="background-color:rgb(220,235,250);" >
							<div class="row">
								<div class="col-11 mt-2 mb-2 ">
									<span class="h6">回答内容</span><br>
									<input name="answerContentLst[0].answer" class="form-control answerContentLst" required/>
								</div>
								<div class="col-1 mt-2 mb-2 d-flex justify-content-end" >
									<div>
										<a href="#" name="answerContentLst[0].delete" onclick="contentDel(this,'questionContent','answerContentLst')" >
											<span class="h5 text-danger"><i class="bi bi-trash3-fill"></i></span>
										</a>
									</div>
								</div>
							</div>
							<div class="row" th:if="${survey.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW }">
								<div class="col-12 mt-2 mb-2">
									<span class="h6">回答採点</span><br>
									<div class="row mb-2 ms-2" th:if="${#lists.size(categoryLst) <= 0 }">
										<span class="text-danger">※軸を先に登録してください。</span><br>
									</div>
									<div class="row mb-2 ms-2" th:each="category,stat:${categoryLst}">
										<div class="col-2">
											<input type="hidden" th:name="answerContentLst[0].answerPointLst[__${stat.index}__].categoryId" th:value="${category.id}" />
											「[[${category.categoryName}]]」ポイント
										</div>
										<div class="col-1">
											<input th:name="answerContentLst[0].answerPointLst[__${stat.index}__].point" class="form-control answerContentLst" type="number"/>
										</div>
										<div class="col">
											<span class="text-secondary">※トータルポイント：[[${category.categoryTotalPoint}]]　未使用ポイント：[[${category.categoryUnUsedPoint}]]</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="btn btn-secondary mb-2 ms-2" style="background-color:rgb(220,235,250);" onclick="contentAdd(this,'questionContent','answerContentLst')">
							<span class="h1"><i class="bi bi-plus-circle-fill"></i></span>
						</div>

						<div class="row mt-4 mb-4">
							<div class="col d-flex justify-content-center">
								<button type="submit" class="btn btn-sm btn-success me-5" data-target="submitFormId" style="width:150px;">登　録</button>
								<a th:href="${referer}" class="btn btn-sm btn-secondary" style="width:150px;">戻る</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- ダイアログのインクルード -->
		<th:block th:replace="surveyTagCreateDialog.html" />
	</body>
</html>