<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />
		
		<!-- フローチャートJSとCSS -->
		<script th:src="@{/js/jquery-ui.min.js}"></script><!-- v1.13.2 -->
		<script th:src="@{/js/jquery.panzoom.min.js}"></script><!-- v3.0.0 -->
		<script th:src="@{/js/jquery.mousewheel.min.js}"></script><!-- v3.1.13 -->
		<script th:src="@{/js/jquery.flowchart.min.js}"></script>
		
		<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/jquery.flowchart.css}"/>
		
		<script th:src="@{/js/questionFlowChart.js}"></script>
		
		<title>診断質問リンクコンテンツ更新画面</title>
		<style>
			#chart_container {
			    width: 100%;
			    height: 600px;
			    overflow: hidden;
			    background: repeating-linear-gradient( 45deg, #eee, #eee 10px, #e5e5e5 10px, #e5e5e5 20px );
			    border: 1px solid black;
			}
			.flowchart-container {
			    width: 2000px;
			    height: 2000px;
				background: white;
				border: 1px solid #BBB;
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="d-flex justify-content-start mt-3 mb-2">
				<span class="h5" th:text="|「${survey.surveyName}」フローチャート|"> 「高齢者健康調査」フローチャート</span>
				<input type="hidden" id="contentId" th:value="${survey.id}" >
				<input type="hidden" id="flowchartData" th:value="${questionLinkUpdateForm.flowChartData}" >
			</div>

			<div class="card shadow-lg">
				<div class="card-body">
					<div id="chart_container" style="overflow: hidden; position: relative;">
						<div class="flowchart-container" id="flowchartworkspace">
						</div>
					</div>
					
					<div class="row">
						<div class="col d-flex justify-content-center mt-2 mb-2 ">
							<input type="hidden" id="selectedOperatorId">
							<input type="hidden" id="selectedLinkId">
							<a th:href="@{/surveyContentDetail/questionContentRegist?contentId=__${survey.id}__&onFlowchartFlg=true}" class="btn btn-sm btn-success me-1" style="width:150px;">質問追加</a>
							<a id="positionSaveBtn" th:href="@{/internalApi/questionPositionSave/__${survey.id}__}" class="btn btn-sm btn-info me-1" style="width:150px;">質問位置保存</a>
							<a id="questionDelBtn" th:href="@{/internalApi/questionOrLinkDelete?contentId=__${survey.id}__}" class="btn btn-sm btn-danger me-1" style="width:150px;">質問/リンク削除</a>
							<a th:href="${referer}" class="btn btn-sm btn-secondary" style="width:150px;">戻る</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>