<html xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="ShowImage_Form" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
	     aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4  class="modal-title" id="modalLabel">プレビュー</h4>
	            </div>
	            <div class="modal-body">
	                <div id="img_show">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</html>