<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveySimulationForFlow.js}"></script>
		<title th:text="|${survey.surveyName}画面|">高齢者健康調査画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="surveyNav.html" />

		<div class="container-fluid mb-5">
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<th:block th:object="${surveyResultForm}" >
						<input type="hidden" th:field="*{id}">
						
						<div class="row mb-2">
							<div class="col d-flex justify-content-center">
								<h5>診断結果</h5><br>
							</div>
						</div>

						<div class="row mb-2" th:if="*{survey.surveyImageBase64}">
							<div class="col mb-2 d-flex justify-content-center">
								<img id="contentImg" th:src="*{survey.surveyImageBase64}" height="200" width="250" th:alt="*{survey.surveyImage}" class="img-thumbnail">
							</div>
						</div>
						
						<div class="row mt-5 mb-5" th:each="categoryResult,stat:*{categoryResultLst}" th:if="${stat.first}">
							<div class="col-2 d-flex justify-content-end">
								<h6>結果詳細:</h6>
							</div>
							<div class="col d-flex justify-content-start">
								<div class="media">
									<div class="media-left media-top">
										<img id="categoryResultImg" th:src="${categoryResult.categoryResultImgBase64}" height="150" width="200" alt="診断軸評価画像" class="img-thumbnail media-object">
									</div>
									<div class="media-body">
										<p th:text="${categoryResult.categoryName}">あなたにおすすめのツアー</p>
										<p th:text="${categoryResult.categoryResultTitle}">山で紅葉を見よう！</p>
									</div>
							  	</div>
							</div>
						</div>
						
						<div class="row mb-2">
							<div class="col-2 mt-2 d-flex justify-content-end">
								<h6>結果URL:</h6>
							</div>
							<div class="col-8">
								<div class="input-group">
								    <input id="resultUrl" class="form-control" th:value="@{/api/surveyResult?key=__*{key}__}" readonly/>
								    <button type="button" class="input-group-text btn btn-success" style="width:150px;" id="urlCopyBtn">URLコピー</button>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			
		</div>

	</body>
</html>