<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveySimulation.js}"></script>
		<script th:src="@{/js/Chart.bundle.min.js}"></script>
		<script th:src="@{/js/pointChart.js}"></script>
		<style th:inline="text">
			@media print,screen and (min-width: 768px) {
			     .flexbox{
							display: flex;
							flex-direction: row;
			    		}
			    		
				.flex-item {
				  width: 50%;
				  justify-content: flex-center;
				  padding: 2px;
				}
			}
			
			@media screen and (max-width: 767px) {
			     .flexbox{
							display: flex;
							flex-direction: column;
			    }
				.flex-item {
				  width: 100%;
				  justify-content: flex-center;
				  padding: 2px;
				}
			}
		</style>
		<title th:text="|${survey.surveyName}画面|">高齢者健康調査画面</title>
	</head>

	<body style="background: #EEEEEE;">


		<div class="container-fluid mb-5">
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<!-- 共通ナビヘッダー -->
					<th:block th:replace="surveyNav.html" />
					
					<th:block th:object="${surveyResultForm}" >
						<input type="hidden" th:field="*{id}">
						<input type="hidden" id="categoryLst" th:value="${categoryLst}">
						<input type="hidden" id="pointLst" th:value="${pointLst}">
						<input type="hidden" id="patternId" th:value="*{survey.surveyPatternId}">
						
						<div class="row mt-4 mb-2">
							<div class="col d-flex justify-content-center">
								<h5>＜診断結果＞</h5><br>
							</div>
						</div>

<!-- 						<div class="row mb-5" th:if="*{survey.surveyImageBase64}">
							<div class="col d-flex justify-content-center">
								<img id="contentImg" th:src="*{survey.surveyImageBase64}" height="200" width="250" th:alt="*{survey.surveyImage}" class="img-thumbnail">
							</div>
						</div> -->

						<!-- 総合評価 -->
						<div th:if="*{survey.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_COMPLEX_POINT}">
							<div class="row mb-2">
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-center" >
									<div class="flexbox">
										<div class="flex-item">
											<img id="surveyResultImg" class="img-thumbnail" th:src="*{surveySummaryImageBase64}" alt="総合評価画像">
										</div>
										<div id="point-chart" class="border flex-item">
										</div>
									</div>
								</div>
<!-- 										<div class="row mb-2">
											<div class="col">
												<img id="surveyResultImg" th:src="*{surveySummaryImageBase64}" width="500" alt="総合評価画像" class="img-thumbnail">
												<div id="point-chart" class="border">
												</div>
											</div>
											
 											<div id="point-chart" class="col-5">
												<canvas id="point-chart" style="width: 100%; height:300px;"></canvas>
												<div class="categoryResultProgress">
													<div class="row mb-2" th:each="categoryResult,stat:*{categoryResultLst}" th:with="percent=__${categoryResult.categoryPoint*100/categoryResult.categoryMaxPoint}__">
														<div class="col">
															<h6 th:text="|${categoryResult.categoryName}(__${categoryResult.categoryPoint}__pt)|" >身体の調査</h6>
															<div class="progress" >
																<div class="progress-bar" th:style="|background-color:${categoryResult.categoryColor};width:${percent}%|">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div> 
										</div> -->

								<div class="col-1"></div>
							</div>
							<div class="row mb-2" >
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<div class="og_underline-bottom-border mt-2 mb-2" th:style="|border-bottom-color:${survey.surveyColor};|">
										<span class="h6 title" th:text="*{surveySummaryTitle}">大見出し</span>
									</div>
								</div>
								<div class="col-1"></div>
							</div>
							<div class="row mb-4 " >
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<span class="summaryCont" th:utext="*{surveySummaryDetail}"></span>
								</div>
								<div class="col-1"></div>
							</div>
						</div>
						
						<!-- 複数（ポイント型） -->
						<div class="row mb-4" th:each="categoryResult,stat:*{categoryResultLst}" th:if="*{survey.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_COMPLEX_POINT && survey.summaryDisplayFlg != 1}" 
							th:with="percent=__${categoryResult.categoryPoint*100/categoryResult.categoryMaxPoint}__">
							<div class="col-1"></div>
							<div class="col-10 d-flex justify-content-start">
								<div class="categoryResult" >
<!-- 									<div class="row mb-2">
										<div class="col-8">
											<img th:id="categoryImg__${stat.index}__" th:src="${categoryResult.categoryResultImgBase64}" height="200" width="250" alt="診断軸評価画像" class="img-thumbnail">
										</div>
									</div> -->
									
									<h6 class="og_headline-left-border subTitle" th:style="|border-left-color:${categoryResult.categoryColor};|" th:text="|${categoryResult.categoryName}(__${categoryResult.categoryPoint}__pt)|" >身体の調査</h6>
									<div class="progress" style="width:300px;">
										<div class="progress-bar" th:style="|background-color:${categoryResult.categoryColor};width:${percent}%|">
										</div>
									</div>
									<span class="h6 summaryCont mb-2" th:utext="${categoryResult.categoryResultTitle}"></span><br>
									<span class="summaryCont" th:utext="${categoryResult.categoryResultDetail}"></span>
									
 <!-- 									<div class="row mb-2">
										<div class="col d-flex justify-content-center">
											<h6 class="og_headline-left-border" th:style="|border-left-color:${categoryResult.categoryColor};|" th:text="|${categoryResult.categoryName}(__${categoryResult.categoryPoint}__pt)|" >身体の調査</h6>
											<div class="progress" style="width:100%;">
												<div class="progress-bar" th:style="|background-color:${categoryResult.categoryColor};width:${percent}%|">
												</div>
											</div>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col d-flex justify-content-center">
											<span class="h6" th:utext="${categoryResult.categoryResultTitle}"></span>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col d-flex justify-content-center">
											<span th:utext="${categoryResult.categoryResultDetail}"></span>
										</div>
									</div> -->
								</div>
							</div>
							<div class="col-1"></div>
						</div>
						
						<th:block th:if="${survey.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_COMPLEX_POINT}">
							<!-- 共通誘導エリア -->
							<div class="row mb-2" th:if="${survey.surveyInduceArea != ''}">
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<span class="summaryCont" th:utext="${survey.surveyInduceArea}"></span>
								</div>
								<div class="col-1"></div>
							</div>
							<!-- 総合評価誘導エリア -->
							<div class="row mb-2" th:if="*{summaryInduceArea != '' }">
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<span class="summaryCont" th:utext="*{summaryInduceArea}"></span>
								</div>
								<div class="col-1"></div>
							</div>
						</th:block>
									
						<!-- 複数（結果加算型） -->
						<div class="row mb-4" th:each="categoryResult,stat:*{categoryResultLst}" th:if="*{survey.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_COMPLEX_TOTAL && __${categoryResult.categoryId}__ == __*{topCategoryId}__ }" >
							<div class="col d-flex justify-content-center">
								<div class="categoryResult" >
									<div class="row mb-2">
										<div class="col d-flex justify-content-center">
											<img th:id="categoryImg__${stat.index}__" th:src="${categoryResult.categoryResultImgBase64}" height="200" width="250" alt="診断軸評価画像" class="img-thumbnail">
										</div>
									</div>
									<!-- 軸の結果詳細 -->
									<div class="row mb-2">
										<div class="col summaryCont" th:utext="${categoryResult.categoryResultDetail}">
											
										</div>
									</div>
									<!-- 共通誘導エリア -->
									<div class="row mb-2">
										<div class="col summaryCont" th:utext="${survey.surveyInduceArea}">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- コンテンツシェア -->
						<div class="row mt-4 mb-2">
							<div class="col-1"></div>
							<div class="col d-flex justify-content-center">
								<div>
									<div class="row mb-2 ">
										<div class="col">
											<a id="facebookShare" href="http://www.facebook.com/share.php?u={URL}" class="btn btn-danger mb-2" rel="nofollow noopener" style="width:250px;" target="_blank">Facebookにシェア</a>
											<a id="twiterShare" href="https://twiter.com/share?url={URL}" class="btn btn-danger mb-2" rel="nofollow noopener" style="width:250px;" target="_blank">X（Twitter）にシェア</a>
											<a id="lineShare" href="http://line.me/R/msg/text/?{URL}" class="btn btn-danger mb-2" rel="nofollow noopener" style="width:250px;" target="_blank">LINEにシェア</a>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col">
											<div class="input-group">
											    <input id="resultUrl" class="form-control" th:value="@{/api/surveyResult?key=__*{key}__}" readonly/>
											    <button type="button" class="input-group-text btn btn-danger" style="width:100px;" id="urlCopyBtn">URLコピー</button>
											</div>
										</div>
									</div>
								</div>
							</div>
								
							<div class="col-1"></div>
						</div>

					</th:block>
				</div>
			</div>
			
		</div>

	</body>
</html>