<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveySimulation.js}"></script>
		<style th:inline="text">
			@media print,screen and (min-width: 768px) {
			     .flexbox{
							display: flex;
							flex-direction: row;
			    		}
			    		
				.flex-item {
				  width: 50%;
				  justify-content: flex-center;
				}
				.for-pc { display:block; }
				.for-sp { display:none; }
			}
			
			@media screen and (max-width: 767px) {
			     .flexbox{
							display: flex;
							flex-direction: column;
			    }
				.flex-item {
				  width: 100%;
				  justify-content: flex-center;
				}
				
				.for-pc { display:none; }
				.for-sp { display:block; }
			}
		</style>
		<title th:text="|${survey.surveyName}画面|">高齢者健康調査画面</title>
	</head>

	<body style="background: #EEEEEE;">

		<div class="container-fluid mb-5 container-800">
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<!-- 共通ナビヘッダー -->
					<th:block th:replace="surveyNav.html" />
				
					<th:block th:object="${surveyResultForm}" >
						<input type="hidden" th:field="*{id}">
						
						<div class="row mt-4 mb-2">
							<div class="col d-flex justify-content-center">
								<h5>＜診断結果＞</h5><br>
							</div>
						</div>

						<!-- 単数 PC版  -->
						<div class="for-pc">
							<div class="row mb-4">
								<div class="col-2"></div>
								<div class="col-8">
									<div>
										<!-- 総合評価 -->
										<div class="row mb-2" >
											<div class="col d-flex justify-content-center" th:if="*{surveySummaryImageBase64}" >
												<img id="surveyResultImg" th:src="*{surveySummaryImageBase64}" width="100%" height="300px" alt="総合評価画像" >
											</div>
										</div>
										<div class="row mb-2" >
											<div class="col d-flex justify-content-start">
												<div class="og_underline-bottom-border mt-2 mb-2" th:style="|border-bottom-color:${survey.surveyColor};|">
													<span class="h6 title" th:text="*{surveySummaryTitle}">大見出し</span>
												</div>
											</div>
										</div>
										<div class="row mb-4 " >
											<div class="col d-flex justify-content-start">
												<span class="summaryCont" th:utext="*{surveySummaryDetail}"></span>
											</div>
										</div>
										
										<!-- 軸の評価詳細 -->
										<div class="row mt-5 mb-5" th:each="categoryResult,stat:*{categoryResultLst}" th:if="${stat.first}" th:with="percent=__${categoryResult.categoryPoint*100/categoryResult.categoryMaxPoint}__">
											<div class="col d-flex justify-content-start">
												<div class="categoryResult" >
													<h6 class="og_headline-left-border subTitle" th:style="|border-left-color:${categoryResult.categoryColor};|" th:text="|${categoryResult.categoryName}(__${categoryResult.categoryPoint}__pt)|" >身体の調査</h6>
													<div class="progress" style="width:250px;">
														<div class="progress-bar" th:style="|background-color:${categoryResult.categoryColor};width:${percent}%|">
														</div>
													</div>
													<span class="h6 summaryCont mb-2" th:utext="${categoryResult.categoryResultTitle}"></span><br>
													<span class="summaryCont" th:utext="${categoryResult.categoryResultDetail}"></span>
												</div>
											</div>
										</div>
								
										<!-- 共通誘導エリア -->
										<div class="row mb-2" th:if="${survey.surveyInduceArea != ''}">
											<div class="col d-flex justify-content-start">
												<span class="summaryCont" th:utext="${survey.surveyInduceArea}"></span>
											</div>
										</div>
										<!-- 総合評価誘導エリア -->
										<div class="row mb-2" th:if="*{summaryInduceArea != '' }">
											<div class="col d-flex justify-content-start">
												<span class="summaryCont" th:utext="*{summaryInduceArea}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-2"></div>
							</div>
						</div>
						
						<!-- 単数 SP版  -->
						<div class="for-sp">
							<!-- 総合評価 -->
							<div class="row mb-4">
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-center" th:if="*{surveySummaryImageBase64}">
									<img id="surveyResultImg" th:src="*{surveySummaryImageBase64}" width="100%" height="200px" alt="総合評価画像" >
								</div>
								<div class="col-1"></div>
							</div>
							<div class="row mb-2" >
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<div class="og_underline-bottom-border mt-2 mb-2" th:style="|border-bottom-color:${survey.surveyColor};|">
										<span class="h6 title" th:text="*{surveySummaryTitle}">大見出し</span>
									</div>
								</div>
								<div class="col-1"></div>
							</div>
							<div class="row mb-4 " >
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<span class="summaryCont" th:utext="*{surveySummaryDetail}"></span>
								</div>
								<div class="col-1"></div>
							</div>
							
							<!-- 軸の評価詳細 -->
							<div class="row mt-5 mb-5" th:each="categoryResult,stat:*{categoryResultLst}" th:if="${stat.first}" th:with="percent=__${categoryResult.categoryPoint*100/categoryResult.categoryMaxPoint}__">
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<div class="categoryResult" >
										<h6 class="og_headline-left-border subTitle" th:style="|border-left-color:${categoryResult.categoryColor};|" th:text="|${categoryResult.categoryName}(__${categoryResult.categoryPoint}__pt)|" >身体の調査</h6>
										<div class="progress" style="width:250px;">
											<div class="progress-bar" th:style="|background-color:${categoryResult.categoryColor};width:${percent}%|">
											</div>
										</div>
										<span class="h6 summaryCont mb-2" th:utext="${categoryResult.categoryResultTitle}"></span><br>
										<span class="summaryCont" th:utext="${categoryResult.categoryResultDetail}"></span>
									</div>
								</div>
								<div class="col-1"></div>
							</div>
						
							<!-- 共通誘導エリア -->
							<div class="row mb-2" th:if="${survey.surveyInduceArea != ''}">
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<span class="summaryCont" th:utext="${survey.surveyInduceArea}"></span>
								</div>
								<div class="col-1"></div>
							</div>
							<!-- 総合評価誘導エリア -->
							<div class="row mb-2" th:if="*{summaryInduceArea != '' }">
								<div class="col-1"></div>
								<div class="col-10 d-flex justify-content-start">
									<span class="summaryCont" th:utext="*{summaryInduceArea}"></span>
								</div>
								<div class="col-1"></div>
							</div>
						</div>
						
						<!-- コンテンツシェア -->
						<div class="row mt-4 mb-2">
							<div class="col-1"></div>
							<div class="col-10 d-flex justify-content-center">
								<div style="width:100%;">
									<div class="d-flex justify-content-center text-muted"><h6>この診断結果をシェアする</h6></div>
									<div class="row mb-2 ">
										<div class="col flexbox">
											<a id="twiterShare" href="https://twiter.com/share?url={URL}" class="btn btn-danger mb-1 me-1 flex-item" style="background-color:#00acee;border-color:gray;" rel="nofollow noopener" target="_blank">X（Twitter）</a>
											<a id="facebookShare" href="http://www.facebook.com/share.php?u={URL}" class="btn btn-danger mb-1 me-1 flex-item" style="background-color:#1877f2;border-color:gray;" rel="nofollow noopener" target="_blank">Facebook</a>
											<a id="lineShare" href="http://line.me/R/msg/text/?{URL}" class="btn btn-danger mb-1 me-1 flex-item" style="background-color:#00b900;border-color:gray;" rel="nofollow noopener" target="_blank">LINE</a>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col">
											<div class="input-group">
											    <input id="resultUrl" class="form-control" th:value="@{/api/surveyResult?key=__*{key}__}" readonly/>
											    <button type="button" class="input-group-text btn btn-danger" style="width:100px;" id="urlCopyBtn">URLコピー</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-1"></div>
						</div>
					</th:block>
				</div>
			</div>
			
		</div>

	</body>
</html>