<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveyContentList.js?params=202402291738}"></script>
		<script th:src="@{/js/surveyTagCreate.js}"></script>
		<title>診断コンテンツ編集画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="d-flex justify-content-start mt-3 mb-2">
				<span class="h5"> コンテンツ編集</span>
			</div>

			<div class="card shadow-lg">
				<div class="card-body">
					<form action="/surveyContentDetail/surveyContentUpdate/exec" method="post" th:object="${surveyContentUpdateForm}" id="submitFormId" onsubmit="getElementById('surveyContentUpdateBtn').disabled=true;return true;" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{userId}">
						<input type="hidden" th:field="*{surveyPatternId}">
						
						<div class="row">
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ名</span>
								<input th:field="*{surveyName}" class="form-control" th:value="高齢者健康調査" maxlength="50" required/>
								<span class="h6 text-danger">※コンテンツパターン変更不可</span>
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ画像</span>
								<div class="input-group mb-3 previewContentImg">
									<input th:field="*{surveyImage}"  class="form-control" th:value="高齢者健康調査.jpg" readonly />
									<div class="input-group-append">
										<button class="btn btn-primary" type="button" id="previewContentImg" data-bs-toggle="popover" data-bs-trigger="focus" title="画像プレビュー" data-bs-html="true" th:data-bs-content="|<img src='__*{surveyImageBase64}__' height='150' width='200'>|" >プレビュー</button> 
										<button class="btn btn-danger" type="button" id="changeContentImg">変更</button>  
									</div>
								</div>
								<div class="input-group mb-3 fileChangeContentImg" style="display:none;">
									<input class="form-control" type="file" th:field="*{surveyImgFile}" accept=".jpg,.jpeg,.png,.gif" disabled>
									<div class="input-group-append">  
										<button class="btn btn-primary" type="button" id="modoruContentImg">戻る</button>  
									</div>
								</div>
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツカラー</span>
								<div class="row">
									<div class="col-2">
										<input type="color" th:field="*{surveyColor}" class="form-control form-control-color" value="#198754" required/>
									</div>
									<div class="col-4">
										<input id="inputColorCode" class="form-control" th:value="*{surveyColor}" readonly/>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ画像(SP)</span>
								<div class="input-group mb-3 previewContentImgSP">
									<input th:field="*{surveyImageSp}"  class="form-control" th:value="高齢者健康調査.jpg" readonly />
									<div class="input-group-append">
										<button class="btn btn-primary" type="button" id="previewContentImgSP" data-bs-toggle="popover" data-bs-trigger="focus" title="画像プレビュー" data-bs-html="true" th:data-bs-content="|<img src='__*{surveyImageSpBase64}__' height='150' width='200'>|" >プレビュー</button> 
										<button class="btn btn-danger" type="button" id="changeContentImgSP">変更</button>  
									</div>
								</div>
								<div class="input-group mb-3 fileChangeContentImgSP" style="display:none;">
									<input class="form-control" type="file" th:field="*{surveyImgSpFile}" accept=".jpg,.jpeg,.png,.gif" disabled>
									<div class="input-group-append">  
										<button class="btn btn-primary" type="button" id="modoruContentImgSP">戻る</button>  
									</div>
								</div>
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツヘッダ画像</span>
								<div class="input-group mb-3 previewHeaderImg">
									<input th:field="*{surveyHeaderImage}"  class="form-control" th:value="高齢者健康調査.jpg" readonly />
									<div class="input-group-append">
										<button class="btn btn-primary" type="button" id="previewHeaderImg" data-bs-toggle="popover" data-bs-trigger="focus" title="画像プレビュー" data-bs-html="true" th:data-bs-content="|<img src='__*{surveyHeaderImageBase64}__' height='150' width='200'>|" >プレビュー</button> 
										<button class="btn btn-danger" type="button" id="changeHeaderImg">変更</button>  
									</div>
								</div>
								<div class="input-group mb-3 fileChangeHeaderImg" style="display:none;">
									<input class="form-control" type="file" th:field="*{surveyHeaderImgFile}" accept=".jpg,.jpeg,.png,.gif" disabled>
									<div class="input-group-append">  
										<button class="btn btn-primary" type="button" id="modoruHeaderImg">戻る</button>  
									</div>
								</div>
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">診断結果メイン画像背景カラー</span>
								<div class="row">
									<div class="col-2">
										<input type="color" th:field="*{surveyResultColor}" class="form-control form-control-color" value="#198754" required/>
									</div>
									<div class="col-4">
										<input id="shadowColorCode" class="form-control" th:value="*{surveyResultColor}" readonly/>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-10 mt-2 mb-2">
								<div class="row">
									<div class="col-4">
										<span class="h6">誘導エリア</span>
									</div>
									<div class="col d-flex justify-content-end mb-1">
										<a class="btn btn-sm btn-success me-2" style="width:80px;" id="mainTitleTag">大見出し</a>
										<a class="btn btn-sm btn-success me-2" style="width:80px;" id="subTitleTag">小見出し</a>
										<a class="btn btn-sm btn-success me-1" style="width:150px;" id="induceBtnTag">誘導ボタンコピー</a>
									</div>
								</div>
								<textarea th:field="*{surveyInduceArea}" class="form-control" rows="3"></textarea>
							</div>
						</div>
						
						<div class="row">
							<div class="col-10 mt-2 mb-2">
								<span class="h6">コンテンツ説明</span>
								<textarea class="form-control" rows="3" th:field="*{surveyDescription}" required></textarea>
							</div>
						</div>
						
						<div class="row" th:if="*{surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_COMPLEX_POINT }">
							<div class="col-4 mt-2 mb-2 d-flex align-items-center">
								<div>
									<input type="checkbox" class="checkboxesStyle ml-2" th:field="*{summaryDisplayFlg}" value="1">
									<span class="h6">軸評価内容非表示</span>
								</div>
							</div>
						</div>
						
						<div class="row mt-4 mb-4">
							<div class="col d-flex justify-content-center">
								<button type="submit" class="btn btn-sm btn-primary me-5" data-target="submitFormId" style="width:150px;" id="surveyContentUpdateBtn">更新</button>
								<a th:href="${referer}" class="btn btn-sm btn-secondary" style="width:150px;">戻る</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- ダイアログのインクルード -->
		<th:block th:replace="surveyTagCreateDialog.html" />
		
	</body>
</html>