<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveySimulation.js?params=202405011722}"></script>
		<title th:text="|${survey.surveyName}画面|">高齢者健康調査画面</title>
		<style th:inline="text">
			.top-img-container {
							  position: relative;
							  width: 100%;
							  overflow: hidden;
							}
							 
			.top-img-container img {
							  width: 100%;
							  height: auto;
							  margin: auto;
							}
			.card-body-padding{
					padding: 1rem 1rem;
					@media screen and (max-width: 767px) {
						padding: 1rem 0.5rem 1rem 0.5rem;
					}
				}
		</style>
	</head>

	<body class="body-area-style">
		<div class="container-fluid mb-5 container-870 padding-none">
			<div class="card mb-2" style="border:none;">
				<div class="card-body card-body-padding for-pc">
					<div class="row mb-3">
						<div class="col d-flex justify-content-center">
							<div class="header-image-container">
								<img id="headerImg" th:src="${survey.surveyHeaderImageBase64}" th:alt="${survey.surveyHeaderImage}" >
							</div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col d-flex justify-content-center">
 							<div class="top-img-container">
 								<img id="topImg" th:src="${survey.surveyImageBase64}" />
 							</div>
						</div>
					</div>
					<div class="row mt-2 mb-5">
						<div class="col d-flex justify-content-center">
							<span th:utext="${survey.surveyDescription}"></span>
						</div>
					</div>
					<div class="row mt-4 mb-5">
						<div class="col d-flex justify-content-center ">
							<a th:href="@{/api/surveyExecute?contentId=__${survey.id}__&userId=__${survey.userId}__}" class="btn btn-warning btn-lg text-light" th:style="|width:300px;border-radius: 40px;background-color:${survey.surveyColor};|" ><span class="h2">診断スタート　▶</span></a>
						</div>
					</div>

				</div>
				<div class="card-body card-body-padding for-sp">
					<div class="row mb-3">
						<div class="col d-flex justify-content-center">
							<div class="header-image-container">
								<img id="headerImg" th:src="${survey.surveyHeaderImageBase64}" th:alt="${survey.surveyHeaderImage}" >
							</div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col d-flex justify-content-center">
							 <div class="top-img-container">
 								<img id="topImg" th:src="${survey.surveyImageSpBase64}" />
 							</div>
						</div>
					</div>
					<div class="row mt-2 mb-5">
						<div class="col d-flex justify-content-center">
							<span th:utext="${survey.surveyDescription}"></span>
						</div>
					</div>
					<div class="row mt-4 mb-5">
						<div class="col d-flex justify-content-center ">
							<a th:href="@{/api/surveyExecute?contentId=__${survey.id}__&userId=__${survey.userId}__}" class="btn btn-warning btn-lg text-light" th:style="|width:300px;border-radius: 40px;background-color:${survey.surveyColor};|" ><span class="h2">診断スタート　▶</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>