<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveyContentList.js}"></script>
		<title>診断コンテンツ詳細表示画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="row d-flex justify-content-start mt-3 mb-2">
				<div class="col-9">
					<span class="h5" th:text="「高齢者健康調査」コンテンツ詳細"> 「高齢者健康調査」コンテンツ詳細</span>
				</div>
				<div class="col">
					<a th:href="@{/surveyContentDetail/surveySimulation?id=1}" class="btn btn-sm btn-success me-5" target="_blank">診断シミュレーション</a>
					<a th:href="@{/surveyContentDetail/surveyScriptCreate?id=1}" class="btn btn-sm btn-success" target="_blank">埋め込みコード生成</a>
				</div>
				
			</div>
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<th:block th:object="${surveyContentDetailForm}" >
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{userId}">
						
						<!-- 診断コンテンツ -->
						<div class="row">
							<span class="h6">診断コンテンツ</span>
						</div>
						<div class="row container" style="background-color:rgb(220,235,250)">
							<div class="col-2 mt-2 mb-2">
								<span class="h6">コンテンツ名</span><br>
								<span th:text="高齢者健康調査">高齢者健康調査</span>
							</div>
							<div class="col-2 mt-2 mb-2">
								<span class="h6">コンテンツパターン</span><br>
								<span th:text="単数">単数</span>
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ画像</span><br>
								<a onclick="showimage('contentImg')" class="btn btn-default btn-xs active">
									<img id="contentImg" src="../img/test.png" height="30" width="40" th:alt="テスト画像" class="img-thumbnail">
								</a>
							</div>
							<div class="col-2 mt-2 mb-2">
								<span class="h6">コンテンツカラー</span>
								<input type="color" name="surveyColor" class="form-control" value="#198754" style="height:40px;" disabled/>
							</div>
							<div class="col-2 d-flex justify-content-center mt-2 mb-2 ">
								<div><a th:href="@{/surveyContentDetail/surveyContentUpdate?id=1}" class="btn btn-sm btn-primary">編集</a></div>
							</div>
						</div>

						<!-- カテゴリーコンテンツ -->
						<div class="row" >
							<div class="col-2 mt-2">
								<span class="h6">診断軸コンテンツ</span>
							</div>
							<div class="col-2 d-flex justify-content-start mt-2 ">
								<a th:href="@{/surveyContentDetail/surveyCategoryRegist?id=1}" class="btn btn-sm btn-success">新規登録</a>
							</div>
						</div>
						
						<div class="row container mb-2" style="border-bottom:1px dotted #000;padding:1px;">
							<div class="col d-flex justify-content-end">
								<a class="parent-nav" data-bs-toggle="collapse" href="#categoryContent"></a>
							</div>	
						</div>
						<div id="categoryContent" class="collapse child-nav show" >
							<!-- <div class="row" th:each="category,stat: *{surveyCategoryLst}"> -->
							<div class="row container mb-2" style="background-color:rgb(225,240,215)">
								<div class="col-2 mt-2 mb-2">
									<span class="h6">診断軸名</span><br>
									<span th:text="身体の調査">身体の調査</span>
								</div>
								<div class="col-2 mt-2 mb-2">
									<span class="h6">ポイント範囲</span><br>
									ランクA：80～100<br>
									ランクB：60～80<br>
									ランクC：～60
								</div>
								<div class="col-4 mt-2 mb-2">
									<span class="h6">診断結果詳細</span><br>
									ランクA：身体は結構いい。<br>
									ランクB：毎週3回の身体訓練が必要。<br>
									ランクC：毎日の身体訓練をやりましょう！
								</div>
								<div class="col-2 mt-2 mb-2">
									<span class="h6">診断結果画像</span><br>
									ランクA：<img id="contentImg1" src="../img/test.png" height="30" width="40" th:alt="テスト画像" class="img-thumbnail"><br>
									ランクB：<img id="contentImg2" src="../img/test.png" height="30" width="40" th:alt="テスト画像" class="img-thumbnail"><br>
									ランクC：<img id="contentImg3" src="../img/test.png" height="30" width="40" th:alt="テスト画像" class="img-thumbnail">
								</div>
								<div class="col-2 d-flex justify-content-center mt-2 mb-2 ">
									<div>
										<a th:href="@{/surveyContentDetail/surveyCategoryUpdate?id=1}" class="btn btn-sm btn-primary me-1">編集</a>
										<a th:href="@{/surveyContentDetail/surveyCategoryDelete?id=1}" class="btn btn-sm btn-danger">削除</a>
									</div>
								</div>
							</div>
	
							<div class="row container mb-2" style="background-color:rgb(225,240,215)">
								<div class="col-2 mt-2 mb-2">
									<span class="h6">診断軸名</span><br>
									<span th:text="心理の調査">心理の調査</span>
								</div>
								<div class="col-2 mt-2 mb-2">
									<span class="h6">ポイント範囲</span><br>
									ランクA：80～100<br>
									ランクB：60～80<br>
									ランクC：～60
								</div>
								<div class="col-4 mt-2 mb-2">
									<span class="h6">診断結果詳細</span><br>
									ランクA：楽観。<br>
									ランクB：やや悲観<br>
									ランクC：悲観
								</div>
								<div class="col-2 mt-2 mb-2">
									<span class="h6">診断結果画像</span><br>
									ランクA：<img id="contentImg1" src="../img/test.png" height="30" width="40" th:alt="テスト画像" class="img-thumbnail"><br>
									ランクB：<img id="contentImg2" src="../img/test.png" height="30" width="40" th:alt="テスト画像" class="img-thumbnail"><br>
									ランクC：<img id="contentImg3" src="../img/test.png" height="30" width="40" th:alt="テスト画像" class="img-thumbnail">
								</div>
								<div class="col-2 d-flex justify-content-center mt-2 mb-2 ">
									<div>
										<a th:href="@{/surveyContentDetail/surveyCategoryUpdate?id=1}" class="btn btn-sm btn-primary me-1">編集</a>
										<a th:href="@{/surveyContentDetail/surveyCategoryDelete?id=1}" class="btn btn-sm btn-danger">削除</a>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			
			<!-- 質問コンテンツ -->
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<th:block th:object="${surveyContentDetailForm}" >
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{userId}">
						
						<div style="overflow-x: auto; width:90%;">
							<div class="row">
								<div class="col-2">
									<span class="h6">診断質問一覧</span>
								</div>
								<div class="col-6 d-flex justify-content-start ">
									<div>
										<a th:href="@{/surveyContentDetail/questionContentRegist?id=1}" class="btn btn-sm btn-success me-1">質問登録</a>
										<a th:href="@{/surveyContentDetail/questionContentDelete?id=1}" class="btn btn-sm btn-danger me-1">質問削除</a>
										<a th:href="@{/surveyContentDetail/questionLinkRegist?id=1}" class="btn btn-sm btn-success me-1">リンク設定</a>
										<a th:href="@{/surveyContentDetail/questionLinkUpdate?id=1}" class="btn btn-sm btn-primary me-1">リンク編集</a>
									</div>
								</div>
							</div>
							
							<div class="row container mb-2" style="border-bottom:1px dotted #000;padding:1px;">
								<div class="col d-flex justify-content-end">
									<a class="parent-nav" data-bs-toggle="collapse" href="#questionContent"></a>
								</div>	
							</div>
						
							<!-- 質問コンテンツ一覧 -->
							<div id="questionContent" class="collapse child-nav show" >
								<table class="table table-bordered table-hover mt-2 mb-4">
									<thead class="table-secondary">
										<tr>
											<th class="align-middle" style="width:30px;" onclick="getElementById('checkAll').click();">
												<input type="checkbox" class="checkboxesStyle ml-2" id="checkAll" name="checkAll" value="1" onclick="this.click()">
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												編集
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												質問
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												回答
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												ポイント採点
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												リンク
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												質問画像
											</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr th:each="survey,stat: *{surveyContentList}"> -->
										<tr>
											<td class="align-middle" th:onclick="getElementById('recordData01').click();">
												<input type="checkbox" class="checkboxesStyle ml-2 checkItems" id="recordData01" value="1" onclick="this.click()">
											</td>
											<td class="align-middle text-center" style="white-space: nowrap;">
												<a th:href="@{/surveyContentDetail/questionContentUpdate?questionId=1}">
													<span class="text-secondary h5"><i class="bi bi-pencil-square"></i></span>
												</a>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="1、普通に何KM走れるか？"></span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												A：１KM<br>
												B：２KM<br>
												C：５KM
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<div>
													<span class="h6" th:text="回答A"></span>
													<ul>
														<li><span th:text="身体の調査：0"></span></li>
														<li><span th:text="心理の調査：0"></span></li>
													</ul>
												</div>
												<div>
													<span class="h6" th:text="回答B"></span>
													<ul>
														<li><span th:text="身体の調査：5"></span></li>
														<li><span th:text="心理の調査：5"></span></li>
													</ul>
												</div>
												<div>
													<span class="h6" th:text="回答C"></span>
													<ul>
														<li><span th:text="身体の調査：10"></span></li>
														<li><span th:text="心理の調査：10"></span></li>
													</ul>
												</div>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="回答A：なし"></span><br>
												<span th:text="回答B：なし"></span><br>
												<span th:text="回答C：質問2"></span><br>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<a onclick="showimage('contentImg')" class="btn btn-default btn-xs active">
													<img id="contentImg" src="../img/test.png" height="40" width="50" th:alt="テスト画像" class="img-thumbnail">
												</a>
											</td>
										</tr>
										
										<tr>
											<td class="align-middle" th:onclick="getElementById('recordData01').click();">
												<input type="checkbox" class="checkboxesStyle ml-2 checkItems" id="recordData01" value="1" onclick="this.click()">
											</td>
											<td class="align-middle text-center" style="white-space: nowrap;">
												<a th:href="@{/surveyContentDetail/questionContentUpdate?questionId=1}">
													<span class="text-secondary h5"><i class="bi bi-pencil-square"></i></span>
												</a>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="２、お酒好きですか？"></span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												A：好きではない<br>
												B：普通<br>
												C：好き
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<div>
													<span class="h6" th:text="回答A"></span>
													<ul>
														<li><span th:text="身体の調査：10"></span></li>
														<li><span th:text="心理の調査：10"></span></li>
													</ul>
												</div>
												<div>
													<span class="h6" th:text="回答B"></span>
													<ul>
														<li><span th:text="身体の調査：5"></span></li>
														<li><span th:text="心理の調査：5"></span></li>
													</ul>
												</div>
												<div>
													<span class="h6" th:text="回答C"></span>
													<ul>
														<li><span th:text="身体の調査：0"></span></li>
														<li><span th:text="心理の調査：0"></span></li>
													</ul>
												</div>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="回答A：なし"></span><br>
												<span th:text="回答B：なし"></span><br>
												<span th:text="回答C：質問3"></span><br>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<a onclick="showimage('contentImg')" class="btn btn-default btn-xs active">
													<img id="contentImg" src="../img/test.png" height="40" width="50" th:alt="テスト画像" class="img-thumbnail">
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			
			<!-- 総合評価結果コンテンツ -->
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<th:block th:object="${surveyContentDetailForm}" >
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{userId}">
						
						<div style="overflow-x: auto; width:90%;">
							<div class="row">
								<div class="col-2">
									<span class="h6">診断総合評価結果一覧</span>
								</div>
								<div class="col-6 d-flex justify-content-start ">
									<div>
										<a th:href="@{/surveyContentDetail/summaryResultRegist?id=1}" class="btn btn-sm btn-success me-1">結果登録</a>
										<a th:href="@{/surveyContentDetail/summaryResultDelete?id=1}" class="btn btn-sm btn-danger me-1">結果削除</a>
									</div>
								</div>
							</div>
							
							<div class="row container mb-2" style="border-bottom:1px dotted #000;padding:1px;">
								<div class="col d-flex justify-content-end">
									<a class="parent-nav" data-bs-toggle="collapse" href="#summaryResultContent"></a>
								</div>	
							</div>
						
							<!-- 総合評価結果コンテンツ一覧 -->
							<div id="summaryResultContent" class="collapse child-nav show" >
								<table class="table table-bordered table-hover mt-2 mb-4">
									<thead class="table-secondary">
										<tr>
											<th class="align-middle" style="width:30px;" onclick="getElementById('checkAll').click();">
												<input type="checkbox" class="checkboxesStyle ml-2" id="checkAll" name="checkAll" value="1" onclick="this.click()">
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												編集
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												総合評価タイトル
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												総合評価テキスト
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												ポイント範囲
											</th>
											<th class="align-middle" style="white-space: nowrap;">
												総合評価画像
											</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr th:each="survey,stat: *{surveyContentList}"> -->
										<tr>
											<td class="align-middle" th:onclick="getElementById('recordData02').click();">
												<input type="checkbox" class="checkboxesStyle ml-2 checkItems" id="recordData02" value="1" onclick="this.click()">
											</td>
											<td class="align-middle text-center" style="white-space: nowrap;">
												<a th:href="@{/surveyContentDetail/summaryResultUpdate?id=1}">
													<span class="text-secondary h5"><i class="bi bi-pencil-square"></i></span>
												</a>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="愛され自由人型"></span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="フレンドリーかつエネルギッシュに行動できる「愛され自由人型」です。"></span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span>300　～　400</span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<a onclick="showimage('summaryResultImg1')" class="btn btn-default btn-xs active">
													<img id="summaryResultImg1" src="../img/test.png" height="40" width="50" th:alt="テスト画像" class="img-thumbnail">
												</a>
											</td>
										</tr>
										
										<tr>
											<td class="align-middle" th:onclick="getElementById('recordData01').click();">
												<input type="checkbox" class="checkboxesStyle ml-2 checkItems" id="recordData01" value="1" onclick="this.click()">
											</td>
											<td class="align-middle text-center" style="white-space: nowrap;">
												<a th:href="@{/surveyContentDetail/summaryResultUpdate?id=1}">
													<span class="text-secondary h5"><i class="bi bi-pencil-square"></i></span>
												</a>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="リーダーシップ堪能"></span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span th:text="コミュニケーション能力上手の「リーダータイプ」です。"></span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<span>200　～　300</span>
											</td>
											<td class="align-middle text-left" style="white-space: nowrap;">
												<a onclick="showimage('summaryResultImg2')" class="btn btn-default btn-xs active">
													<img id="summaryResultImg2" src="../img/test.png" height="40" width="50" th:alt="テスト画像" class="img-thumbnail">
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			
		</div>
		<!-- ダイアログのインクルード -->
		<th:block th:replace="/showImgModal.html" />

	</body>
</html>