<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />
		<script th:src="@{/js/surveyContentList.js}"></script>

		<title>診断コンテンツ登録画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="d-flex justify-content-start mt-3 mb-2">
				<span class="h5"> コンテンツ登録</span>
			</div>

			<div class="card shadow-lg">
				<div class="card-body">
					<form action="/surveyContentDetail/surveyContentRegist/exec" method="post" th:object="${surveyContentUpdateForm}" id="submitFormId" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{userId}">

						<div class="row">
							<div class="col-3 mt-2 mb-2">
								<span class="h6">コンテンツ名</span>
								<input th:field="*{surveyName}" class="form-control" maxlength="50" required />
							</div>
							<div class="col-3 mt-2 mb-2">
								<span class="h6">コンテンツパターン</span>
								<select class="form-control" th:field="*{surveyPatternId}" required>
									<option value="-1">未選択</option>
									<option	th:value="${pattern.id}" th:each="pattern,stat: ${patternLst}" >[[${pattern.surveyPatternName}]]</option>
								</select>
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ画像</span>
								<input class="form-control" type="file" th:field="*{surveyImgFile}" accept=".jpg,.jpeg,.png,.gif">
							</div>
							<div class="col-2 mt-2 mb-2">
								<span class="h6">コンテンツカラー</span>
								<input type="color" th:field="*{surveyColor}" class="form-control form-control-color" required/>
							</div>
						</div>
						
						<div class="row mt-4 mb-4">
							<div class="col d-flex justify-content-center">
								<button type="submit" class="btn btn-sm btn-success me-5" id="tableDataUpdate" data-target="submitFormId" style="width:150px;">登　録</button>
								<a th:href="${referer}" class="btn btn-sm btn-secondary" style="width:150px;">戻る</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>