<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />
		<script th:src="@{/js/surveyContentList.js?params=202402291738}"></script>
		<script th:src="@{/js/surveyTagCreate.js}"></script>
		<title>診断コンテンツ登録画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="d-flex justify-content-start mt-3 mb-2">
				<span class="h5"> コンテンツ登録</span>
			</div>

			<div class="card shadow-lg">
				<div class="card-body">
					<form action="/surveyContentDetail/surveyContentRegist/exec" method="post" th:object="${surveyContentUpdateForm}" id="submitFormId" onsubmit="getElementById('surveyContentUpdateBtn').disabled=true;return true;" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{userId}">

						<div class="row">
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ名</span>
								<input th:field="*{surveyName}" class="form-control" maxlength="50" required />
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツパターン</span>
								<select class="form-control" th:field="*{surveyPatternId}" required>
									<option value="">未選択</option>
									<option	th:value="${pattern.id}" th:each="pattern,stat: ${patternLst}" >[[${pattern.surveyPatternName}]]</option>
								</select>
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ画像</span>
								<input class="form-control" type="file" th:field="*{surveyImgFile}" accept=".jpg,.jpeg,.png,.gif">
							</div>
							
						</div>
						<div class="row">
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツ画像(SP)</span>
								<input class="form-control" type="file" th:field="*{surveyImgSpFile}" accept=".jpg,.jpeg,.png,.gif">
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツヘッダ画像</span>
								<input class="form-control" type="file" th:field="*{surveyHeaderImgFile}" accept=".jpg,.jpeg,.png,.gif">
							</div>
							<div class="col-4 mt-2 mb-2">
								<span class="h6">コンテンツカラー</span>
								<div class="row">
									<div class="col-2">
										<input type="color" id="surveyColor" name="surveyColor" class="form-control form-control-color" value="#ff0000" required/>
									</div>
									<div class="col-4">
										<input id="inputColorCode" class="form-control" th:value="*{surveyColor}" readonly/>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-10 mt-2 mb-2">
								<div class="row">
									<div class="col-4">
										<span class="h6">誘導エリア</span>
									</div>
									<div class="col d-flex justify-content-end mb-1">
										<a class="btn btn-sm btn-success me-2" style="width:80px;" id="mainTitleTag">大見出し</a>
										<a class="btn btn-sm btn-success me-2" style="width:80px;" id="subTitleTag">小見出し</a>
										<a class="btn btn-sm btn-success me-1" style="width:150px;" id="induceBtnTag">誘導ボタンコピー</a>
									</div>
								</div>
								<textarea th:field="*{surveyInduceArea}" class="form-control" rows="3"></textarea>

							</div>
						</div>
						<div class="row">
							<div class="col-10 mt-2 mb-2">
								<span class="h6">コンテンツ説明</span>
								<textarea class="form-control" rows="3" th:field="*{surveyDescription}" required></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-4 mt-2 mb-2 d-flex align-items-center">
								<div style="display: none;">
									<input type="checkbox" class="checkboxesStyle ml-2" th:field="*{summaryDisplayFlg}" value="1">
									<span class="h6">軸評価内容非表示</span>
								</div>
							</div>
						</div>
						
						<div class="row mt-4 mb-4">
							<div class="col d-flex justify-content-center">
								<button type="submit" class="btn btn-sm btn-success me-5" data-target="submitFormId" style="width:150px;" id="surveyContentUpdateBtn">登　録</button>
								<a th:href="${referer}" class="btn btn-sm btn-secondary" style="width:150px;">戻る</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- ダイアログのインクルード -->
		<th:block th:replace="surveyTagCreateDialog.html" />
		
	</body>
</html>