<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveySimulation.js}"></script>
		<title th:text="|${survey.surveyName}画面|">高齢者健康調査画面</title>
		<!-- progress bar -->
		<link rel="stylesheet" th:href="@{/css/progressBar.css}"/>
	</head>

	<body style="background: #EEEEEE;" th:object="${surveySimulationForm}">
		<div class="container-fluid mb-5">
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<!-- 共通ナビヘッダー -->
					<th:block th:replace="surveyNav.html" />
				
					<!-- 進捗欄 -->
					<div class="ymtr--progress-bar mb-2" th:with="progressWidth=*{100/#lists.size(questionFormLst)}">
						<div class="ymtr--progress-bar__item" th:style="|background-color: *{surveyContent.surveyColor} !important;width:${progressWidth}%;|" th:each="question,stat:*{questionFormLst}" th:id="${stat.index}" th:classappend="${stat.first?'--current':''}">　　</div>
					</div>
					
					<form action="/api/surveySimulationForComplex/result" method="post" id="submitFormId">
						<input type="hidden" th:field="*{surveyContent.id}">
						<input type="hidden" th:field="*{surveyContent.userId}">
						<input type="hidden" th:value="*{#lists.size(questionFormLst)}" id="questionCnt">
						
						<div th:each="question,stat:*{questionFormLst}" th:class="questionContent__${stat.index}__" th:style="${stat.first ? 'display:block;':'display:none;'}">
							<div class="row mb-2">
								<div class="col d-flex justify-content-center">
									<input type="hidden" th:name="answerResultLst[__${stat.index}__].questionId" th:value="${question.id}">
									<div>
										<span class="h2" th:text="|Q__${question.questionOrderNo}__|"></span><br>
										<p class="text-muted h3" th:text="${question.questionTitle}"></p>
										<img th:id="questionImg__${stat.index}__" th:src="${question.questionImageBase64}" height="100" width="100%" th:alt="${question.questionImage}" class="pull-left img-thumbnail border-0">
										<div class="mt-4" th:classappend="answerContent__${stat.index}__">
											<div class="mb-1 form-check bg-light text-dark border pt-1 pb-1" style="padding-left:2.0rem;" th:each="answer,stat1:${question.answerContentLst}">
												<input class="mr-5 form-check-input" type="radio" th:name="answerResultLst[__${stat.index}__].answerId" th:id="|answerResultId__${stat.index + '_' + stat1.index}__|" th:value="${answer.answerId}">
												<label class="form-check-label" th:for="|answerResultId__${stat.index + '_' + stat1.index}__|">
													[[${answer.answer}]]
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
	
<!--  							<div class="row mb-2">
								<div class="col d-flex justify-content-center">
									<img th:id="questionImg__${stat.index}__" th:src="${question.questionImageBase64}" height="200" width="300" th:alt="${question.questionImage}" class="img-thumbnail">
								</div>
							</div>
	
							<div class="row mb-2">
								<div class="col d-flex justify-content-center ">
									<div th:class="answerContent__${stat.index}__">
										<div class="form-check" th:each="answer,stat1:${question.answerContentLst}">
										  <input class="form-check-input" type="radio" th:name="answerResultLst[__${stat.index}__].answerId" th:id="|answerResultId__${stat.index + '_' + stat1.index}__|" th:value="${answer.answerId}">
										  <label class="form-check-label" th:for="|answerResultId__${stat.index + '_' + stat1.index}__|">
										    ${answer.answer}
										  </label>
										</div>
									</div>
								</div>
							</div> -->
						</div>
						<div class="row mt-4 mb-4">
							<div class="col d-flex justify-content-center">
								<button class="btn btn-sm btn-success" style="width:150px;" id="nextQuestion">次へ</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
		</div>

	</body>
</html>