<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveyContentList.js}"></script>

		<title>診断コンテンツ詳細画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<!-- 共通ナビヘッダー -->
		<th:block th:replace="commonNav.html" />

		<div class="container-fluid mb-5">
			<!-- タイトル -->
			<div class="row mt-3 mb-2">
				<div class="col-8">
					<span class="h5" th:text="|「${surveyContentDetailForm.surveyContent.surveyName}」コンテンツ詳細|"> 「高齢者健康調査」コンテンツ詳細</span>
				</div>
				<div class="col-4" th:if="${#lists.size(surveyContentDetailForm.categoryLst)>0 && #lists.size(surveyContentDetailForm.questionFormLst)>0 }">
					<div class="d-flex justify-content-end" th:if="${surveyContentDetailForm.surveyContent.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW && #lists.size(surveyContentDetailForm.questionLinkLst)>0}">
						<a th:href="@{/surveyContentDetail/surveySimulation?contentId=__${surveyContentDetailForm.contentId}__}" class="btn btn-sm btn-success me-5 simulationBtn" target="_blank">診断シミュレーション</a>
						<a th:href="@{/api/surveyExecute?contentId=__${surveyContentDetailForm.contentId}__}" class="btn btn-sm btn-success surveyURLCopyBtn" target="_blank">診断URLコピー </a>
					</div>
					<div class="d-flex justify-content-end" th:unless="${surveyContentDetailForm.surveyContent.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
						<a th:href="@{/surveyContentDetail/surveySimulation?contentId=__${surveyContentDetailForm.contentId}__}" class="btn btn-sm btn-success me-5 simulationBtn" target="_blank">診断シミュレーション</a>
						<a th:href="@{/api/surveyExecute?contentId=__${surveyContentDetailForm.contentId}__}" class="btn btn-sm btn-success surveyURLCopyBtn" target="_blank">診断URLコピー </a>
					</div>
				</div>

			</div>
			<th:block th:object="${surveyContentDetailForm}" th:with="questionHead=${T(jp.co.SurveyMaker.Constants.CommonConstants).ORDER_NO_QUESTION}">

				<!-- コンテンツ基本情報 START -->
				<div class="card shadow-lg mb-2">
					<div class="card-header bg-white">
						<div class="d-flex justify-content-between">
							<div>
								<span class="h6">基本情報</span>
							</div>
							<div>
								<a th:href="@{/surveyContentDetail/surveyContentUpdate?contentId=__*{contentId}__}" >
									<span class="h5 text-secondary"><i class="fa-solid fa-pen-to-square pe-2"></i></span>
								</a>
							</div>
						</div>

					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-2">
								<span class="h6">コンテンツ名</span><br>
								<span th:text="*{surveyContent.surveyName}">高齢者健康調査</span>
							</div>
							<div class="col-2">
								<span class="h6">コンテンツパターン</span><br>
								<th:block th:each="pattern,stat: ${patternLst}" th:if="${pattern.id==__*{surveyContent.surveyPatternId}__}">
									<span th:text="${pattern.surveyPatternName}">単数</span>
								</th:block>
							</div>
							<div class="col-4">
								<span class="h6">コンテンツ画像</span><br>
								<a onclick="showimage('contentImg')" class="btn btn-default btn-xs active" th:if="*{surveyContent.surveyImageBase64}">
									<img id="contentImg" th:src="*{surveyContent.surveyImageBase64}" height="30" width="40" th:alt="*{surveyContent.surveyImage}" class="img-thumbnail">
								</a>
							</div>
							<div class="col-2">
								<span class="h6">コンテンツカラー</span>
								<input type="color" name="surveyColor" class="form-control form-control-color" th:value="*{surveyContent.surveyColor}" disabled/>
							</div>
						</div>
					</div>
				</div>
				<!-- コンテンツ基本情報 END -->

				<!-- 診断軸・質問タブ START -->
				<ul class="nav nav-tabs nav-pills">
					<li class="nav-item bg-white fw-bold text-center" style="width:200px;">
						<a href="#tabpanel1" class="nav-link active" data-bs-toggle="tab">
							診&nbsp;断&nbsp;軸&nbsp;([[__*{#lists.size(categoryLst)}__]])
						</a>
					</li>
					<li class="nav-item bg-white fw-bold text-center" style="width:200px;">
						<a href="#tabpanel2" class="nav-link" data-bs-toggle="tab">
							質問・回答&nbsp;([[__*{#lists.size(questionFormLst)}__]])
						</a>
					</li>
				</ul>
				<!-- 診断軸・質問タブ END -->

				<div class="tab-content">

					<!-- 診断軸 START -->
					<div id="tabpanel1" class="card shadow-lg tab-pane active">
						<div class="card-header bg-white">
							<div class="d-flex justify-content-between">
								<div>
									<span class="h6">診断軸</span>
								</div>
								<div>
									<div class="" th:unless="*{(surveyContent.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_SINGULAR || surveyContent.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW) && !#lists.isEmpty(categoryLst) && #lists.size(categoryLst) >= 1}">
										<a th:href="@{/surveyContentDetail/surveyCategoryRegist?contentId=__*{contentId}__}" class="btn btn-sm btn-success">
											診断軸を追加する
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body bg-light">

							<!-- 診断軸リスト START -->
							<div class="card mb-2" th:each="category,stat:*{categoryLst}">
								<div class="card-header og_headline-left-top-border">
									<div class="d-flex justify-content-between">
										<div class="pt-1">
											<span class="h6">[[${category.surveyCategoryName}]]　<span class="badge" th:style="|background-color:${category.surveyCategoryColor};|">軸カラー</span></span>
										</div>
										<div>
											<div class="d-flex justify-content-end">
												<div>
													<a th:href="@{/surveyContentDetail/surveyCategoryUpdate?categoryId=__${category.id}__}" class="btn btn-sm btn-primary me-3" style="width:100px;">
														編集
													</a>
												</div>
												<div>
													<a id="categoryDelBtn" th:href="@{/surveyContentDetail/surveyCategoryDelete?categoryId=__${category.id}__}" class="btn btn-sm btn-danger" style="width:100px;">
														削除
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="card-body">

									<!-- 総合評価 START -->
									<!-- 複数（加算結果型）、フローの場合、総合評価不要 -->
									<div class="card shadow-lg mb-2" th:if="*{surveyContent.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_COMPLEX_TOTAL && surveyContent.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW }">
										<div class="card-header bg-white">
											<span class="h6">
												<i class="fa-solid fa-ranking-star pe-2 text-primary"></i>
												総合評価
											</span>
										</div>
										<div class="card-body">
											<h6 th:text="|基準点数：${category.surveySummaryDecidePoint}点|">基準点数：50点</h6>

											<div class="row mt-3">
												<div class="col-6">
													<div class="card">
														<div class="card-header bg-white">
															<i class="fa-solid fa-up-long pe-2 text-primary"></i>
															<span class="h6">基準点数以上の評価</span>
														</div>
														<div class="card-body">
															<div class="row">
																<div class="col-12">
																	<div class="row">
																		<div class="col-3">
																			<span class="h6">タイトル</span>
																		</div>
																		<div class="col-9">
																			<span class="" th:text="${category.surveySummaryTitleAbove}">愛され自由人型</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-3">
																	<span class="h6">
																		評価内容
																	</span>
																</div>
																<div class="col-9">
																	<span class="dd" th:text="${category.surveySummaryDetailAbove}">
																		フレンドリーかつエネルギッシュに行動できる「愛され自由人型」です。 フレンドリーかつエネルギ・・・
																	</span>
																</div>
															</div>
															<div class="row">
																<div class="col-3">
																	<span class="h6">
																		画像
																	</span>
																</div>
																<div class="col-9">
																	<a th:onclick="|showimage('contentImgAbove${stat.index}')|" class="btn btn-default btn-xs active">
																		<img th:id="|contentImgAbove${stat.index}|" th:src="${category.surveySummaryImageAboveBase64}" height="30" width="40" th:alt="${category.surveySummaryImageAbove}" class="img-thumbnail">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6">
													<div class="card">
														<div class="card-header bg-white">
															<i class="fa-solid fa-down-long text-danger pe-2"></i>
															<span class="h6">基準点数未満の評価</span>
														</div>
														<div class="card-body">
															<div class="row">
																<div class="col-12">
																	<div class="row">
																		<div class="col-3">
																			<span class="h6">タイトル</span>
																		</div>
																		<div class="col-9">
																			<span class="" th:text="${category.surveySummaryTitleBelow}">愛され自由人型</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-3">
																	<span class="h6">
																		評価内容
																	</span>
																</div>
																<div class="col-9">
																	<span class="dd" th:text="${category.surveySummaryDetailBelow}">
																		フレンドリーかつエネルギッシュに行動できる「愛され自由人型」です。 フレンドリーかつエネルギ・・・
																	</span>
																</div>
															</div>
															<div class="row">
																<div class="col-3">
																	<span class="h6">
																		画像
																	</span>
																</div>
																<div class="col-9">
																	<a th:onclick="|showimage('contentImgBelow${stat.index}')|" class="btn btn-default btn-xs active">
																		<img th:id="|contentImgBelow${stat.index}|" th:src="${category.surveySummaryImageBelowBase64}" height="30" width="40" th:alt="${category.surveySummaryImageBelow}" class="img-thumbnail">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
									<!-- 総合評価 END -->

									<!-- 軸別診断結果 START -->
									<div class="card shadow-lg">
										<div class="card-header bg-white">
											<span class="h6">
												<i class="fa-solid fa-square-poll-vertical pe-2 text-primary"></i>
												軸別診断結果
											</span>
										</div>
										<div class="card-body">
											<!-- <div style="overflow-x: auto; width:100%;"> -->
												<table class="table">
													<thead>
														<tr>
															<th th:if="*{surveyContent.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW }" style="width:10%;">ポイント範囲</th>
															<th style="width:15%;">タイトル</th>
															<th style="width:60%;">評価内容</th>
															<th >画像</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="result,stat1:${category.categoryContentLst}">
															<td class="align-middle" th:if="*{surveyContent.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
																<span th:text="|${result.pointFrom} ～ ${result.pointTo}点|">
																	80～100点
																</span>
															</td>
															<td class="align-middle">
																<span style="word-break: break-all;" th:text="${result.surveyResult}">
																	健康な身体を維持できています。<br>
																	健康な身体を維持できています。<br>
																	健康な身体を維持できています。
																</span>
															</td>
															<td class="align-middle">
																<span style="word-break: break-all;" class="dd" th:text="${result.surveyResultDetail}">
																	エネルギーバランスがとれています。<br>
																	エネルギーバランスがとれています。<br>
																	エネルギーバランスがとれています。<br>
																	エネルギーバランスがとれています。
																</span>
															</td>
															<td class="align-middle">
																<a th:onclick="|showimage('contentResultImg${stat.index}_${stat1.index}')|" class="btn btn-default btn-xs active">
																	<img th:id="|contentResultImg${stat.index}_${stat1.index}|" th:src="${result.surveyResultImgBase64}" height="30" width="40" th:alt="${result.surveyResultImage}" class="img-thumbnail">
																</a>
															</td>
														</tr>
													</tbody>

												</table>
											<!-- </div> -->
										</div>
									</div>

									<!-- 診断軸別診断結果 END -->
								</div>
							</div>
						</div>
					</div>
					<div id="tabpanel2" class="card shadow-lg tab-pane">
						<!-- 質問コンテンツ -->
						<div class="card shadow-lg mb-2">
							<div class="card-body">
								<div class="row">
									<div class="col-2">
										<span class="h6">診断質問一覧</span>
									</div>
									<div class="col-6 d-flex justify-content-start ">
										<div>
											<a th:href="@{/surveyContentDetail/questionContentRegist?contentId=__*{contentId}__}" class="btn btn-sm btn-success me-1">質問登録</a>
											<a id="questionDelBtn" th:href="@{/surveyContentDetail/questionContentDelete}" class="btn btn-sm btn-danger me-1">質問削除</a>
											<!-- フローの場合のみ、リンク設定 -->
											<th:block th:if="*{surveyContent.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
												<th:block th:if="*{#lists.size(questionLinkLst) > 0 }">
													<a th:href="@{/surveyContentDetail/questionLinkUpdate?contentId=__*{contentId}__}" class="btn btn-sm btn-primary me-1">リンク編集</a>
												</th:block>
												<th:block th:if="*{#lists.size(categoryLst) > 0 }">
													<a th:href="@{/surveyContentDetail/questionFlowChart?contentId=__*{contentId}__}" class="btn btn-sm btn-primary me-1">フローチャート</a>
												</th:block>
												<th:block th:if="*{#lists.size(questionLinkLst) <= 0 && #lists.size(questionFormLst) > 0 && #lists.size(categoryLst) > 0 }">
													<a th:href="@{/surveyContentDetail/questionLinkRegist?contentId=__*{contentId}__}" class="btn btn-sm btn-success me-1">リンク設定</a>
												</th:block>
											</th:block>
										</div>
									</div>
									<!-- 質問2件以上の場合のみ、順番更新可能 -->
									<div class="col-4 d-flex justify-content-start " th:if="*{#lists.size(questionFormLst) >= 2 && surveyContent.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
										<form action="/surveyContentDetail/questionOrderUpdate" method="post" id="questionOrderUpdateForm">
											<input type="hidden" th:value="*{contentId}" name="contentId">
											<button type="submit" class="btn btn-sm btn-success me-1" id="questionOrderUpdateBtn" style="width:150px;">今の質問順番で更新</button>
										</form>
									</div>
								</div>

								<!-- 質問コンテンツ一覧 -->
								<div id="questionContent" class="collapse child-nav show"  style="overflow-x: auto; overflow-y: auto; width:95%;height:600px;">
									<table class="table table-bordered table-hover mt-2 mb-4" id="questionContentTable" data-use-row-attr-func="true" data-reorderable-rows="true">
										<thead class="table-secondary">
											<tr>
												<th class="align-middle" style="width:30px;" onclick="getElementById('checkAll').click();">
													<input type="checkbox" class="checkboxesStyle ml-2" id="checkAll" name="checkAll" value="-1" onclick="this.click()">
												</th>
												<th class="align-middle" style="white-space: nowrap;">
													編集
												</th>
												<th class="align-middle" style="white-space: nowrap;">
													質問
												</th>
												<th class="align-middle" style="white-space: nowrap;">
													回答
												</th>
												<th class="align-middle" style="white-space: nowrap;" th:if="*{surveyContent.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
													ポイント採点
												</th>
												<th class="align-middle" style="white-space: nowrap;" th:if="*{surveyContent.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
													リンク
												</th>
												<th class="align-middle" style="white-space: nowrap;">
													質問画像
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="questionContentDetail" th:each="question,stat: *{questionFormLst}">
												<td class="align-middle" th:onclick="|getElementById('recordData${question.id}').click();|">
													<input type="checkbox" class="checkboxesStyle ml-2 checkItems" th:id="recordData__${question.id}__" th:value="${question.id}" onclick="this.click()">
												</td>
												<td class="align-middle text-center" style="white-space: nowrap;">
													<a th:href="@{/surveyContentDetail/questionContentUpdate?questionId=__${question.id}__}">
														<span class="text-secondary h5"><i class="bi bi-pencil-square"></i></span>
													</a>
												</td>
												<td class="align-middle text-left" style="white-space: nowrap;">
													<input type="hidden" th:value="${question.questionOrderNo}" id="questionOrderNo">
													<span th:text="|${stat.count}、${question.questionTitle}|"></span>
												</td>
												<td class="align-middle text-left" style="white-space: nowrap;">
													<ul>
														<li th:each="answer:${question.answerContentLst}">
															<span th:text="${answer.answer}"></span>
														</li>
													</ul>
												</td>
												<td class="align-middle text-left" style="white-space: nowrap;" th:if="*{surveyContent.surveyPatternId != T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
													<!-- <div class="row">
														<div class="col-3" th:each="answer,stat1:${question.answerContentLst}">
															<span class="h6" th:text="|回答${stat1.count}|"></span>
															<span class="text-danger simuCk" th:if="*{#lists.size(categoryLst) == 0}"><br>※軸を登録してください。</span>
															<ul>
																<li th:each="category:*{categoryLst}">
																	<th:block th:if="${!#lists.isEmpty(answer.answerPointLst)}">
																		<th:block th:if="${answer.answerPointLst.^[categoryId==__${category.id}__]}">
																			<span th:text="|${category.surveyCategoryName}：${answer.answerPointLst.^[categoryId==__${category.id}__].point}|"></span>
																		</th:block>
																		<th:block th:unless="${answer.answerPointLst.^[categoryId==__${category.id}__]}">
																			<span class="text-danger simuCk" th:text="|${category.surveyCategoryName}：-|"></span>
																		</th:block>
																	</th:block>
																	<th:block th:if="${#lists.isEmpty(answer.answerPointLst)}">
																		<span class="text-danger simuCk" th:text="|${category.surveyCategoryName}：-|"></span>
																	</th:block>
																</li>
															</ul>
														</div>
													</div> -->
													<!-- 長さを縮小するようにポイント採点内容をテーブル形式に収まる。 -->
													<table>
														<thead>
														<tr>
															<th th:each="answer,stat1:${question.answerContentLst}">
																<span class="h6" th:text="|回答${stat1.count}|"></span>
																<span class="text-danger simuCk" th:if="*{#lists.size(categoryLst) == 0}"><br>※軸を登録してください。</span>
															</th>
														</tr>
														</thead>
														<tbody>
															<tr>
																<td th:each="answer,stat1:${question.answerContentLst}">
																	<ul>
																		<li th:each="category:*{categoryLst}">
																			<th:block th:if="${!#lists.isEmpty(answer.answerPointLst)}">
																				<th:block th:if="${answer.answerPointLst.^[categoryId==__${category.id}__]}">
																					<span th:text="|${category.surveyCategoryName}：${answer.answerPointLst.^[categoryId==__${category.id}__].point}|"></span>
																				</th:block>
																				<th:block th:unless="${answer.answerPointLst.^[categoryId==__${category.id}__]}">
																					<span class="text-danger simuCk" th:text="|${category.surveyCategoryName}：-|"></span>
																				</th:block>
																			</th:block>
																			<th:block th:if="${#lists.isEmpty(answer.answerPointLst)}">
																				<span class="text-danger simuCk" th:text="|${category.surveyCategoryName}：-|"></span>
																			</th:block>
																		</li>
																	</ul>
																</td>
															</tr>
														</tbody>
													</table>

												</td>
												<td class="align-middle text-left" style="white-space: nowrap;" th:if="*{surveyContent.surveyPatternId == T(jp.co.SurveyMaker.Constants.CommonConstants).PARTTERN_FLOW}">
<!-- 													<div th:each="answer,stat1:${question.answerContentLst}">
														<span class="h6" th:text="|回答${stat1.count}|"></span>
														<ul>
															<th:block th:if="*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__]}" th:with="answerLinkType=*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__].linkType},answerLinkTo=*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__].linkTo}">
																<li>
																	<span th:text="|リンク種別：${linkTypeLst.^[key == __${answerLinkType}__].value}|"></span>
																</li>
																<li>
																	<th:block th:if="${NEXT_QUESTION.code == answerLinkType }">
																		<th:block th:if="*{questionFormLst.^[id == __${answerLinkTo}__]}">
																			<span th:text="|リンク先：${questionHead}*{questionFormLst.^[id == __${answerLinkTo}__].questionOrderNo}|"></span>
																		</th:block>
																		<th:block th:unless="*{questionFormLst.^[id == __${answerLinkTo}__]}">
																			<span class="text-danger simuCk">リンク先：-</span>
																		</th:block>
																	</th:block>
																	<th:block th:if="${SURVEY_RESULT.code == answerLinkType }">
																		<th:block th:if="*{#lists.size(categoryLst)>0}">
																			<th:block th:if="*{categoryLst[0].categoryContentLst.^[id == __${answerLinkTo}__]}">
																				<span th:text="|リンク先：診断結果[*{categoryLst[0].categoryContentLst.^[id == __${answerLinkTo}__].surveyResult}]|"></span>
																			</th:block>
																			<th:block th:unless="*{categoryLst[0].categoryContentLst.^[id == __${answerLinkTo}__]}">
																				<span class="text-danger simuCk">リンク先：-</span>
																			</th:block>
																		</th:block>
																		<th:block th:unless="*{#lists.size(categoryLst)>0}">
																			<span class="text-danger simuCk">リンク先：-</span>
																		</th:block>
																	</th:block>
																</li>
															</th:block>
															<th:block th:unless="*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__]}">
																<li><span class="text-danger simuCk">リンク種別：-</span></li>
																<li><span class="text-danger simuCk">リンク先：-</span></li>
															</th:block>
														</ul>
													</div> -->
													<!-- 長さを縮小するようにリンク内容をテーブル形式に収まる。 -->
													<table>
														<thead>
														<tr>
															<th th:each="answer,stat1:${question.answerContentLst}">
																<span class="h6" th:text="|回答${stat1.count}|"></span>
															</th>
														</tr>
														</thead>
														<tbody>
															<tr>
																<td th:each="answer,stat1:${question.answerContentLst}">
																	<ul>
																		<th:block th:if="*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__]}" th:with="answerLinkType=*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__].linkType},answerLinkTo=*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__].linkTo}">
																			<li>
																				<span th:text="|リンク種別：${linkTypeLst.^[key == __${answerLinkType}__].value}|"></span>
																			</li>
																			<li>
																				<th:block th:if="${NEXT_QUESTION.code == answerLinkType }">
																					<th:block th:if="*{questionFormLst.^[id == __${answerLinkTo}__]}">
																						<span th:text="|リンク先：${questionHead}*{questionFormLst.^[id == __${answerLinkTo}__].questionOrderNo}|"></span>
																					</th:block>
																					<th:block th:unless="*{questionFormLst.^[id == __${answerLinkTo}__]}">
																						<span class="text-danger simuCk">リンク先：-</span>
																					</th:block>
																				</th:block>
																				<th:block th:if="${SURVEY_RESULT.code == answerLinkType }">
																					<th:block th:if="*{#lists.size(categoryLst)>0}">
																						<th:block th:if="*{categoryLst[0].categoryContentLst.^[id == __${answerLinkTo}__]}">
																							<span th:text="|リンク先：診断結果[*{categoryLst[0].categoryContentLst.^[id == __${answerLinkTo}__].surveyResult}]|"></span>
																						</th:block>
																						<th:block th:unless="*{categoryLst[0].categoryContentLst.^[id == __${answerLinkTo}__]}">
																							<span class="text-danger simuCk">リンク先：-</span>
																						</th:block>
																					</th:block>
																					<th:block th:unless="*{#lists.size(categoryLst)>0}">
																						<span class="text-danger simuCk">リンク先：-</span>
																					</th:block>
																				</th:block>
																			</li>
																		</th:block>
																		<th:block th:unless="*{questionLinkLst.^[questionId==__${question.id}__ && answerId== __${answer.answerId}__]}">
																			<li><span class="text-danger simuCk">リンク種別：-</span></li>
																			<li><span class="text-danger simuCk">リンク先：-</span></li>
																		</th:block>
																	</ul>
																</td>
															</tr>
														</tbody>
													</table>

												</td>
												<td class="align-middle text-left" style="white-space: nowrap;">
													<a th:onclick="|showimage('contentQuestionImg__${stat.index}__')|" class="btn btn-default btn-xs active">
														<img th:id="contentQuestionImg__${stat.index}__" th:src="${question.questionImageBase64}" height="40" width="50" th:alt="${question.questionImage}" class="img-thumbnail">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
		<!-- ダイアログのインクルード -->
		<th:block th:replace="showImgModal.html" />
		<th:block th:replace="dataDeleteConfirmDialog.html" />
		<th:block th:replace="simulationConfirmDialog.html" />
		<th:block th:replace="surveyURLCopyConfirmDialog.html" />
		
	</body>
</html>