<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveySimulation.js}"></script>
		<title th:text="|${survey.surveyName}画面|">高齢者健康調査画面</title>
	</head>

	<body style="background: #EEEEEE;">

		<div class="container-fluid mb-5">
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<!-- 共通ナビヘッダー -->
					<th:block th:replace="surveyNav.html" />
				
					<th:block th:object="${surveyResultForm}" >
						<input type="hidden" th:field="*{id}">
						
						<div class="row mt-4 mb-2">
							<div class="col d-flex justify-content-center">
								<h5>＜診断結果＞</h5><br>
							</div>
						</div>

<!-- 						<div class="row mb-5" th:if="*{survey.surveyImageBase64}">
							<div class="col d-flex justify-content-center">
								<img id="contentImg" th:src="*{survey.surveyImageBase64}" height="200" width="250" th:alt="*{survey.surveyImage}" class="img-thumbnail">
							</div>
						</div> -->

						<!-- 総合評価 -->
						<div>
							<div class="row mb-4" >
								<div class="col d-flex justify-content-center">
									<h3>
										<span class="badge rounded-pill bg-info" th:text="*{surveySummaryTitle}">タイトル</span>
									</h3>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col-2 d-flex justify-content-end">
									<div>
										<h6>総合評価:</h6>
									</div>
								</div>
								<div class="col ">
									<div class="summaryResult">
										<div class="row mb-2">
											<div class="col-4">
												<img id="surveyResultImg" th:src="*{surveySummaryImageBase64}" height="300" width="350" alt="総合評価画像" class="img-thumbnail">
											</div>
											<div class="col-5 shadow-lg">
												<div class="categoryResultProgress">
													<div class="row mb-2" th:each="categoryResult,stat:*{categoryResultLst}" th:with="percent=__${categoryResult.categoryPoint*100/categoryResult.categoryMaxPoint}__">
														<div class="col">
															<h6 th:text="|${categoryResult.categoryName}(__${categoryResult.categoryPoint}__pt)|" >身体の調査</h6>
															<div class="progress" >
																<div class="progress-bar" th:style="|background-color:${categoryResult.categoryColor};width:${percent}%|">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mb-2">
											<div class="col">
												<span th:utext="*{surveySummaryDetail}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div th:each="categoryResult,stat:*{categoryResultLst}" th:if="${stat.first}">
							<div class="row mt-5 mb-5">
								<div class="col-2 d-flex justify-content-end">
									<h6>評価結果:</h6>
								</div>
								<div class="col-1 d-flex justify-content-start">
									<span th:text="${categoryResult.categoryResultTitle}"></span><br>
								</div>
								<div class="col d-flex justify-content-start">
									<img th:id="categoryResultImg__${stat.index}__" th:src="${categoryResult.categoryResultImgBase64}" height="150" width="200" alt="診断軸評価画像" class="img-thumbnail">
								</div>
							</div>
							
							<div class="row mb-5">
								<div class="col-2 d-flex justify-content-end">
									<h6>結果詳細:</h6>
								</div>
								<div class="col d-flex justify-content-start">
									<span th:utext="${categoryResult.categoryResultDetail}"></span>
								</div>
							</div>
						</div>
						
						<div class="row mb-5">
							<div class="col-2 mt-2 d-flex justify-content-end">
								<h6>結果URL:</h6>
							</div>
							<div class="col-8">
								<div class="input-group">
								    <input id="resultUrl" class="form-control" th:value="@{/api/surveyResult?key=__*{key}__}" readonly/>
								    <button type="button" class="input-group-text btn btn-success" style="width:150px;" id="urlCopyBtn">URLコピー</button>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			
		</div>

	</body>
</html>