<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通Topインクルード -->
		<th:block th:replace="commonTop.html" />

		<script th:src="@{/js/surveySimulationForFlow.js}"></script>
		<title th:text="|${survey.surveyName}画面|">ツアー調査画面</title>
	</head>

	<body style="background: #EEEEEE;">
		<div class="container-fluid mb-5">
			<div class="card shadow-lg mb-2">
				<div class="card-body">
					<!-- 共通ナビヘッダー -->
					<th:block th:replace="surveyNav.html" />
					
					<th:block th:object="${surveySimulationForm}">
						<input type="hidden" th:field="*{surveyContent.id}">
						<input type="hidden" th:field="*{surveyContent.userId}">
						<input type="hidden" th:id="NEXT_QUESTION" th:value="${NEXT_QUESTION.code}">
						<input type="hidden" th:id="SURVEY_RESULT" th:value="${SURVEY_RESULT.code}">
						
						<div th:each="question,stat:*{questionFormLst}" th:if="${stat.first}">
							<div class="row mt-5 mb-3">
								<div class="col d-flex justify-content-center">
									<span id="questionContent" th:text="|Q__${question.questionOrderNo}__、__${question.questionTitle}__|"></span><br>
								</div>
							</div>
	
							<div class="row mb-5">
								<div class="col d-flex justify-content-center">
									<img id="questionImg" th:src="${question.questionImageBase64}" height="200" width="300" th:alt="${question.questionImage}" class="img-thumbnail border-0">
								</div>
							</div>
	
							<div class="row mb-5">
								<div class="col d-flex justify-content-center ">
									<div class="answerContent">
										<input type="hidden" th:id="contentId" th:value="*{surveyContent.id}">
										<div class="form-check mb-2" th:each="answer,stat1:${question.answerContentLst}" th:with="linkType=*{questionLinkLst.^[surveyQuestionId==__${question.id}__ && answerId== __${answer.answerId}__].linkType},linkTo=*{questionLinkLst.^[surveyQuestionId==__${question.id}__ && answerId== __${answer.answerId}__].linkTo}">
											<input type="hidden" th:id="linkType__${stat1.index}__" th:value="${linkType}">
											<input type="hidden" th:id="linkTo__${stat1.index}__" th:value="${linkTo}">
											<label class="form-check-label">
												<a href="#" class="btn btn-sm btn-info" style="width:150px;" th:text="${answer.answer}" th:id="nextQuestion__${stat1.index}__">広い海</a>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			
		</div>

	</body>
</html>